.itemsbox{
  display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}


.items{
    align-items: center;
    flex-direction: row;
    border:double #ccc;
    height : fit-content;
    width: 70%;
}

.span{
    cursor:pointer
}

.mui-buttons{
    display: -moz-box;
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
    width: 70%;
    align-items: center;
}
.items .css-518kzi-MuiListItemSecondaryAction-root {
  justify-content: flex-end;
  display: flex;
  top: 0%;
  right: 0%;
  transform: none;
  position: inherit;
}

.mui-box{
    text-align: left;
    width: 30%;
}
.list{
    margin : 5px 5px 5px 5px
}
.mui-text{
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 2px #bbb;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    margin-top: 5px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    outline: none;
    caret-color: transparent;
}

.mui-buttons {
  .mui-label-1 {
    padding: 0px;
    display: flex;
    align-items: inherit;
    justify-content: right;
}
.mui-label-2{
  padding: 0px;
  display: flex;
  align-items: inherit;
  justify-content: left;
}
}


.section .addicon{
    min-width: 10px;
    margin: 0px 10px;
    color: #555;
    padding: 0px;
    border-radius:50%
}

.section{
    border-radius: 10px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
}

.add-on-counter {
    display: flex;
    align-items: center;
    /* background-color: $bgDarkGrey; */
    width: 100%;
    .decrease-counter {
      margin-right: 10px;
      /* color: $lightGrey; */
      padding: 0;
      :global {
        .MuiSvgIcon-root {
          width: 20px;
        }
      }
    }
    .increase-counter {
      margin: 0 10px;
      /* color: $lightGrey; */
      padding: 0;
      :global {
        .MuiSvgIcon-root {
          width: 20px;
          height: 20px;
          /* color: $darkBlack; */
        }
      }
    }
  }