.changepassword {
    width: fit-content;
    padding : 20px
}

.manage{
    padding: 20px;
    margin-left: 10px;
    justify-content: center;
}

.user-form {
    margin: 20px !important;
    max-width: 150px;
}

.profile {
    background-image: url(cooking.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0px;
  }

.btn{
    text-decoration-color: white;
}

.mr10{
    width: 20px;
}
.itemInput{
    width: 150px;
    height: 40px;
}